* {
    font-family: 'Space Grotesk';
}

a {
    text-decoration: none;
    color: inherit;
}

.font-fredoka {
    font-family: 'Fredoka';
}

.font-inter {
    font-family: 'Inter';
}

.font-space-grotesk {
    font-family: 'Space Grotesk';
}

[data-bs-theme=light] {
    .btn-minimal:hover {
        background-color: #ebedf0;
    }

    .btn-outline-system {
        --bs-btn-color: #212529;
        --bs-btn-border-color: #dee2e6;
        --bs-btn-hover-color: #2b2f32;
        --bs-btn-hover-bg: #e2e3e5;
        --bs-btn-hover-border-color: #c4c8cb;
        --bs-btn-focus-shadow-rgb: 33, 37, 41;
        --bs-btn-active-color: #2b2f32;
        --bs-btn-active-bg: #e2e3e5;
        --bs-btn-active-border-color: #c4c8cb;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #dee2e6;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #dee2e6;
        --bs-gradient: none;
    }
}

[data-bs-theme=dark] {
    .btn-minimal:hover {
        background-color: #444950;
    }

    .btn-outline-system {
        --bs-btn-color: #adb5bd;
        --bs-btn-border-color: #495057;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #f8f9fa;
        --bs-btn-hover-border-color: #f8f9fa;
        --bs-btn-focus-shadow-rgb: 248, 249, 250;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #f8f9fa;
        --bs-btn-active-border-color: #f8f9fa;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #f8f9fa;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #f8f9fa;
        --bs-gradient: none;
    }
}

.table-overflow tbody {
    display: block;
    overflow: auto;
}

.table-overflow tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.grid-responsive {
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 1000px) {
    .grid-responsive {
        grid-template-columns: 1fr;
    }
}

.home-header {
    background: #473aa0;
    height: 600px;
    max-height: 600px;
    overflow: hidden;
}

.home-footer {
    background: #473aa0;
    height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
}

.home-feature-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media (max-width: 720px) {
    .home-feature-items {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }    
}

.text-violet {
    color: #473aa0;
}

.home-feature-icon {
    width: 5rem;
    height: 5rem;
    background: #bbb2f7;
    color: #473aa0;
}

.home-img {
    height: 100%;
    width: auto;
    /*mask-image: linear-gradient(90deg,black 0%, transparent 50%,black 100%);*/
    /*mask-image: linear-gradient(90deg, transparent 0%,black 50%, transparent 100%);*/
    mask-image: radial-gradient(circle, black 0%, transparent 80%);
}

.img-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #473aa0;
    background-color: #7e7a97;
    background-image: url('./assets/md-duran-1VqHRwxcCCw_1920.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    filter: blur(8px);
}

@media (max-width: 1200px) {
    .home-img {
        width: 100%;
    }

    .home-header {
        height: auto;
        max-height: auto;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}