:root {
    --navbar-height: 4rem;
}

* {
    font-family: 'Space Grotesk';
}

a {
    text-decoration: none;
    color: inherit;
}

.font-fredoka {
    font-family: 'Fredoka';
}

.font-inter {
    font-family: 'Inter';
}

.font-space-grotesk {
    font-family: 'Space Grotesk';
}

[data-bs-theme=light] {
    .btn-minimal:hover {
        background-color: #ebedf0;
    }

    .btn-outline-system {
        --bs-btn-color: #212529;
        --bs-btn-border-color: #dee2e6;
        --bs-btn-hover-color: #2b2f32;
        --bs-btn-hover-bg: #e2e3e5;
        --bs-btn-hover-border-color: #c4c8cb;
        --bs-btn-focus-shadow-rgb: 33, 37, 41;
        --bs-btn-active-color: #2b2f32;
        --bs-btn-active-bg: #e2e3e5;
        --bs-btn-active-border-color: #c4c8cb;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #dee2e6;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #dee2e6;
        --bs-gradient: none;
    }
}

[data-bs-theme=dark] {
    .btn-minimal:hover {
        background-color: #444950;
    }

    .btn-outline-system {
        --bs-btn-color: #adb5bd;
        --bs-btn-border-color: #495057;
        --bs-btn-hover-color: #000;
        --bs-btn-hover-bg: #f8f9fa;
        --bs-btn-hover-border-color: #f8f9fa;
        --bs-btn-focus-shadow-rgb: 248, 249, 250;
        --bs-btn-active-color: #000;
        --bs-btn-active-bg: #f8f9fa;
        --bs-btn-active-border-color: #f8f9fa;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #f8f9fa;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #f8f9fa;
        --bs-gradient: none;
    }
}

.table-overflow tbody {
    display: block;
    overflow: auto;
}

.table-overflow tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.grid-responsive {
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 1000px) {
    .grid-responsive {
        grid-template-columns: 1fr;
    }
}

.home-header {
    background: #473aa0;
    height: 600px;
    max-height: 600px;
    overflow: hidden;
}

.home-banner {
    height: 600px;
    width: 600px;
    background-image: url('./assets/md-duran-1VqHRwxcCCw_1920.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    mask-image: radial-gradient(circle, black 0%, transparent 80%);
}

.home-footer {
    background: #473aa0;
    height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
}

.home-feature-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media (max-width: 720px) {
    .home-feature-items {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }    
}

.text-violet {
    color: #473aa0;
}

.home-feature-icon {
    width: 5rem;
    height: 5rem;
    background: #bbb2f7;
    color: #473aa0;
}

.home-img {
    height: 100%;
    width: auto;
    /*mask-image: linear-gradient(90deg,black 0%, transparent 50%,black 100%);*/
    /*mask-image: linear-gradient(90deg, transparent 0%,black 50%, transparent 100%);*/
    mask-image: radial-gradient(circle, black 0%, transparent 80%);
}

.img-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #473aa0;
    background-color: #7e7a97;
    background-image: url('./assets/md-duran-1VqHRwxcCCw_1920.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    filter: blur(8px);
}

@media (max-width: 1200px) {
    .home-img {
        width: 100%;
    }

    .home-header {
        height: auto;
        max-height: auto;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.underline-on-hover {
    text-decoration: none;
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

input[type=number] {
    appearance: textfield;
}

.navbar {
    height: var(--navbar-height);
    background: #473aa0;
}

.max-content {
    height: calc(100vh - var(--navbar-height));
}

.rounded-left-5 {
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
}

.rounded-right-5 {
    border-top-right-radius: var(--bs-border-radius-xxl) !important;
    border-bottom-right-radius: var(--bs-border-radius-xxl) !important;
}

.btn-violet {
    --bs-btn-color: #fff;
    --bs-btn-bg: #726de7;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5442c0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6251da;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #241e48;
    --bs-btn-disabled-border-color: #241e48;
}

.alert-violet {
    --bs-alert-color: #473aa0;
    --bs-alert-bg: #abb3f6;
    --bs-alert-border-color: #898cf0;
    --bs-alert-link-color: var(--bs-primary-text-emphasis);
}
  
.form-check-input:checked {
    background-color: #726de7;
    border-color: #726de7;
}

.bg-body-violet {
    background-color: #898cf0;   
}

[data-bs-theme=dark] {
    .bg-body-violet {
        background-color: #241e48;   
    }
}